<!DOCTYPE html>
<html>
<head>
  <title><%= property.title %></title>
</head>
<body>
  <h1><%= property.title %></h1>
  <p><%= property.address %>, <%= property.state %></p>
  <p>Price: ₹<%= property.price %></p>
  <p>Type: <%= property.type %></p>
  <p>Status: <%= property.status %></p>
</body>
</html>
